/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --foreground: #ededed;
    }
  }

  .text-foreground {
    color: var(--foreground);
  }

  .bg-background {
    background-color: var(--background);
  }
}

@media (min-width: 768px) {
  .toggle-button {
      display: none;
  }
  .portfolio-section {
      display: block;
  }
}


body {
  @apply text-foreground bg-background font-sans;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.three-scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Loader css */
.loader {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  margin: 2ch;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 0.5s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* End loader css */

/* Classi per animazione fade-in e fade-out */
.loading {
  @apply transition-opacity duration-500 ease-out bg-transparent;
}

.loading.fade-out {
  @apply opacity-0 pointer-events-none;
}